@*@using SistemaVendas.Entidades;
@model List<Categoria>;

@foreach(var item in Model){
    var aux = item.Codigo + " - " + item.Descricao;

    <span>@aux</span>
}*@

<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <div>
            <a href="../Cliente/index"> </a>  
        </div>
        <span>Cadastro de Clientes</span>
    </div>
</div>